<div class="unauthed-card">
    <img src="/img/logo.png" width="116px" height="116px" alt="logo">
    <form action="/login" method="post">
        <input type="email" placeholder="メールアドレス" name="email" />
        <input type="password" placeholder="パスワード" name="password"/>
        <button type="submit">
            ログイン
        </button>
        <p>アカウント登録は<a href="/signup">こちら</a>から</p>
    </form>
</div>