<div id="authed-main-header">
  <p>開発状況を投稿しよう</p>    
</div>

<!--<form action="/post-content" method="post" id="post-form">-->
<!--  <textarea type="text" name="content" placeholder="いまなにしてる？"></textarea>-->
<!--  <button type="submit">ポストする</button>-->
<!--</form>-->

<form action="/posts" method="post" enctype="multipart/form-data">
  <label for="image">画像を選択:</label><br>
  <input type="file" name="image" id="image-input" accept="image/*"><br><br>
  <div id="image-container">
    <img id="image-preview" src="" alt="">
  </div>
  <button id="reset-btn">リセット</button>
  <label for="content">コメント:</label><br>
  <textarea name="content" id="content" rows="4" cols="50" required></textarea><br><br>


  <button type="submit">投稿する</button>
</form>


