<div id='calendar'></div>

<form id="schedule-form">
        <label for="start_time">開始日:</label>
        <input type="date" id="start_time" name="start_time" required>
        
        <label for="end_time">終了日:</label>
        <input type="date" id="end_time" name="end_time" required>
        
        <button type="submit">登録</button>
    </form>