<div class="unauthed-card">
    <img src="/img/logo.png" width="116px" height="116px" alt="logo">
    <form action="/signup" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="ニックネーム" name="name"/>
        <input type="text" placeholder="@" name="id"/>
        <input type="email" placeholder="メールアドレス" name="email"/>
        <input type="password" placeholder="パスワード" name="password"/>
        <input type="file" name="file" accept="image/*">
        <button type="submit">
            アカウント登録
        </button>
        <p>ログインは<a href="/login">こちら</a>から</p>
    </form>
</div>